@font-face {
	font-family: 'VideoJS';
	src: url(../../assets/fonts/VideoJS-8792cab9b630b084cbd0604ab656df3f.eot) format('embedded-opentype'),
	url(../../assets/fonts/VideoJS-8792cab9b630b084cbd0604ab656df3f.eot) format('embedded-opentype'),
	url(../../assets/fonts/VideoJS-fa5b2d3d5581f3a7d2e93eae5eb20a15.woff) format('woff'),
	url(../../assets/fonts/VideoJS-0e4ff8872b1921123d7dbde2939644ee.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}